{% extends 'base.html.twig' %}

{% block title %}Job offers List
{% endblock %}

{% block body %}
	<center>
		<h1>Job offers List</h1>
	</center>

	<table class="table table-bordered table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Date</th>
				<th>time</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for job in jobs %}
				<tr>
					<td>{{ job.id }}</td>
					<td>{{ job.title }}</td>
					<td>{{ job.description }}</td>
					<td>{{ job.createdAt|date("d/m/Y") }}</td>
					<td>{{ job.createdAt|date("H:i:s") }}</td>
					<td>
						<a href="{{ path('app_job_show', {'id': job.id}) }}">
							Show
							<i class="fa-solid fa-circle-info"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_job_new') }}" class="btn btn-primary">
		<i class="fa-solid fa-plus"></i>
		Create new</a>
{% endblock %}
